
<h1>ng-utf8-emojis-to-images demo</h1>
<h3>Input</h3>
<p>Enter HTML containing unicode emojis here:</p>
<input type="text" size="90" [(ngModel)]="htmlString" />
<p>Add from <code>@ctrl/ngx-emoji-mart</code> (to the front of the above input):</p>
<emoji-mart (emojiClick)="addEmoji($event)" [set]="sheet === '' || sheet === 'font' ? null : sheet" [isNative]="sheet === ''"></emoji-mart>
<hr>

<h3>Output</h3>
<p>Rendered HTML containing emojis as image elements:</p>
<div [ngStyle]="{fontSize: size + 'px'}">
  <p
      *ngIf="sheet !== 'font'; else customReplaceSample"
      [innerHTML]= "sheet !== '' ? (htmlString | utf8EmojisToImages:sheet:size:sheetSize:backgroundImageFn:sheetRows:sheetColumns) : htmlString">
    Start editing to see some magic happen :)
  </p>

  <ng-template #customReplaceSample>
    <p [innerHTML]="htmlString | utf8EmojisToImages:elementFn"></p>
  </ng-template>
</div>

<hr>
<h3>Configuration</h3>
<p>Choose emoji image sheet:</p>
<div>
  <input type="radio" value="apple" id="apple" name="sheet" [(ngModel)]="sheet" >
  <label for="apple">Apple</label>
</div>

<div>
  <input type="radio" value="google" id="google" name="sheet" [(ngModel)]="sheet" >
  <label for="google">Google</label>
</div>

<div>
  <input type="radio" value="twitter" id="twitter" name="sheet" [(ngModel)]="sheet" >
  <label for="twitter">Twitter</label>
</div>

<div>
  <input type="radio" value="facebook" id="facebook" name="sheet" [(ngModel)]="sheet" >
  <label for="facebook">Facebook</label>
</div>

<div>
  <input type="radio" value="font" id="font" name="sheet" [(ngModel)]="sheet" >
  <label for="font">Emojione font (using custom element creation callback)</label>
</div>

<div>
  <input type="radio" value="" id="deactivate" name="sheet" [(ngModel)]="sheet" >
  <label for="deactivate">Native browser emojis (deactivate pipe)</label>
</div>

<p>Enter emoji image size (in px):</p>
<input type="number" min="1" step="1" [(ngModel)]="size">

<p>Choose emoji image resolution:</p>
<input type="radio" [value]="16" id="16" name="sheetSize" [(ngModel)]="sheetSize" >
<label for="16">16px</label>
<input type="radio" [value]="20" id="20" name="sheetSize" [(ngModel)]="sheetSize" >
<label for="20">20px</label>
<input type="radio" [value]="32" id="32" name="sheetSize" [(ngModel)]="sheetSize" >
<label for="32">32px</label>
<input type="radio" [value]="64" id="64" name="sheetSize" [(ngModel)]="sheetSize" >
<label for="64">64px</label>

<p>Background URL (Placeholders <code>{{ '${set}' }}</code> and <code>{{ '${sheetSize}' }}</code> will be replaced automatically):</p>
<input type="text" size="90" [(ngModel)]="backgroundUrl" (ngModelChange)="backgroundUrlChanged()"><br />
(Currently evaluates to <a target="_blank" [href]="backgroundImageFn(sheet, sheetSize)">{{backgroundImageFn(sheet, sheetSize)}}</a>)

<p>Sheet rows of this background URL:</p>
<input type="number" min="1" step="1" [(ngModel)]="sheetRows">

<p>Sheet columns of this background URL:</p>
<input type="number" min="1" step="1" [(ngModel)]="sheetColumns">
